nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    list-style-type: none;
}

nav ul li a {
    color: white;
}